@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
       url('MyriadPro-Bold.ttf') format('truetype'),
       url('MyriadPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Myriad Pro (1)';
  src: url('ofont.ru_Myriad Pro (1).eot');
  src: url('ofont.ru_Myriad Pro (1).eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_Myriad Pro (1).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

